.title {
  padding: 20px 0 40px;

  color: white;
  font-size: 2rem;
  font-weight: 900;
  text-align: center;
}

.no-todo {
  width: 80%;
  max-width: 900px;
  margin: 0 auto;

  color: white;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 900;
}

.loading {
  width: 80%;
  max-width: 900px;
  margin: 0 auto;
  
  color: white;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 900;
}