.login {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;

  width: 300px;
  margin-left: auto;
  margin-right: auto;
}

.title {
  margin: 50px 0;
  font-size: 30px;
  color: white;
}

.login-form {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;

  font-size: 18px;
  width: 100%;
}

.login-form label {
  color: white;
  margin-bottom: 8px;
  align-self: flex-start;
}

.login-form input {
  box-sizing: border-box;
  padding: 10px 20px;
  width: 100%;
  margin-bottom: 16px;
  border-radius: 4px;
}

.actions {
  width: 100%;
}

.actions button {
  padding: 10px 20px;
  width: 100%;
  border-radius: 4px;

  background-color: rgb(84, 152, 185);
  color: white;
}

.actions button:active {
  transform: scale(98%);
}

.actions button:hover {
  background-color: rgb(104, 154, 179);
}

.actions .replace {
  background-color: gray;
  margin-top: 10px;
}